/* .fixed-navbar .header-style-2 .col-lg-8 nav > ul > li > a,
.fixed-navbar .header-style-2 .get-contact {
	padding: 5px 10px;
	background: #fff;
	color: black;
	margin-right: 0;
}
.get-contact {
	float: right;
} */
/* Add text shadow */
/* .fixed-navbar .header-style-2 .col-lg-8 nav > ul > li > a {
	text-shadow: 4px 4px 4px #333;
} */

.header-style-2 .null-menu-link {
	color: #fff;
	cursor: default;
	padding: 15px 20px 15px;
}
.header-style-3 .null-menu-link {
	color: #1c4c25;
	cursor: default;
	padding: 15px 20px 15px;
}
.header-style-2 {
	position: absolute;
	z-index: 120;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.07);
	box-shadow: none;
}
.header-style-2 nav ul li a {
	color: #fff;
}
.header-style-2 nav ul li a:hover {
	color: #00d690;
}
.header-style-2 nav ul li a:before {
	display: none;
}

.header-style-2 .cart-search-contact button > i {
	color: #fff;
}

.header-style-2 nav ul li ul li a {
	color: #333;
}

.header-style-2 nav ul li ul li a:hover {
	color: #00d690;
}

.header-topbar {
	background: #1c4c25;
	padding: 0 100px;
}

@media (max-width: 991px) {
	.header-topbar {
		text-align: center;
		padding: 0;
	}
}

@media (max-width: 767px) {
	.header-style-1 {
		text-align: center;
	}
}

.header-style-2 .get-contact a {
	color: #fff;
}
.header-style-2 .cart-search-contact .cart-toggle-btn,
.header-style-2 .cart-search-contact .search-toggle-btn {
	background: rgba(236, 253, 245, 0.2);
}

/* ===================== HEADER ======================*/

.logo {
	max-width: 180px;
}
.logo img {
	max-width: 180px;
	max-height: 120px;
	padding: 10px;
}

/* Navigation */

nav ul {
	margin-top: -4px;
	text-align: left;
}
nav > ul > li {
	display: inline-block;
	margin-right: -1px;
	position: relative;
}
nav ul li a {
	display: inline-block;
	color: #1c4c25;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	padding: 15px 20px 15px;
}
nav ul li a:before {
	content: '';
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 43px;
	border-radius: 43px;
	position: absolute;
	left: 0;
	top: calc(50% - 21px);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	z-index: -1;
}
nav ul li a.active:before {
	opacity: 1;
}
nav ul li a:hover:before {
	opacity: 1;
}
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
}
nav ul li:hover > ul li {
	margin-top: 0;
}
nav ul li a:hover,
nav ul li a.active {
	color: #00d690;
	text-decoration: none;
}

nav ul ul {
	position: absolute;
	top: 104%;
	left: 0;
	width: 215px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	text-align: left;
}
nav ul ul li {
	padding: 10px 15px;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	margin-top: 20px;
	position: relative;
	transition: all 0.5s;
	position: relative;
}
nav ul ul li i {
	position: absolute;
	right: 10px;
	top: 18px;
}
nav ul ul li a {
	padding: 5px;
	color: #333;
}
nav ul ul li:last-child {
	border-bottom: 0;
}
nav ul ul ul {
	left: 100%;
	top: 4px;
	transition: all 0.5s;
}

header.fixed,
header.fixed.style2,
.layout3 header.fixed,
.layout4 header.fixed,
header.ab.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding-top: 0;
}
header.fixed .header-content {
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	-ms-box-shadow: inherit;
	-o-box-shadow: inherit;
	box-shadow: inherit;
	padding-left: 0;
	padding-right: 0;
}
.layout3 header.fixed {
	background-color: #0a15a9;
}

.middle-header nav ul {
	margin-bottom: 0;
}

.header-content .contact-info-1 span {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	margin-right: 45px;
}

@media (max-width: 1200px) {
	.contact .theme-btn-s2 {
		display: none;
	}
}

@media (max-width: 991px) {
	.middle-header {
		position: relative;
		background: #fff;
	}
	.header-content .contact-info-1 span {
		margin-right: 20px;
		margin-top: 0;
	}

	.header-content {
		padding-bottom: 20px;
	}
}

@media (max-width: 991px) {
	.wpo-header-style-2 .topbar .theme-btn,
	.middle-header .topbar .theme-btn {
		line-height: 20px;
		padding: 6px 16px;
	}
}

@media (max-width: 767px) {
	.wpo-header-style-2 .topbar .theme-btn,
	.middle-header .topbar .theme-btn {
		margin-right: 0;
		margin-bottom: 10px;
		margin-left: 10px;
	}
}
@media (max-width: 500px) {
	.header-content .contact-info-1 span {
		display: none;
	}
}

.header-style-2 .cart-search-contact,
.header-style-3 .cart-search-contact {
	display: flex;
	justify-content: flex-end;
}
.header-style-2,
.header-style-3 {
	position: relative;
	z-index: 9999;
	padding: 0 100px;
}

@media (max-width: 991px) {
	.header-style-2 .cart-search-contact,
	.header-style-3 .cart-search-contact {
		right: 0px;
		top: 0;
		padding-top: 0;
	}
}

@media (max-width: 450px) {
	.header-style-2 .cart-search-contact,
	.header-style-3 .cart-search-contact {
		display: none;
	}
}

.header-style-2 .cart-search-contact .theme-btn-s2,
.header-style-3 .cart-search-contact .theme-btn-s2 {
	margin-left: 30px;
	position: relative;
	top: -9px;
}

@media (max-width: 1380px) {
	.header-style-2 .cart-search-contact .theme-btn-s2,
	.header-style-3 .cart-search-contact .theme-btn-s2 {
		display: none;
	}
}

.header-style-2 .cart-search-contact button,
.header-style-3 .cart-search-contact button {
	background: transparent;
	padding: 0;
	border: 0;
	outline: 0;
}

.header-style-2 .cart-search-contact > div,
.header-style-3 .cart-search-contact > div {
	float: left;
	position: relative;
}

.header-style-2 .cart-search-contact button > i,
.header-style-3 .cart-search-contact button > i {
	font-size: 20px;
	color: #333;
}

.header-style-2 .cart-search-contact .header-search-form,
.header-style-3 .cart-search-contact .header-search-form {
	position: absolute;
	width: 250px;
	right: 0;
	top: 63px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: -2px 18px 40px -9px #999999;
	box-shadow: -2px 18px 40px -9px #999999;
	z-index: 10;
}

@media (max-width: 991px) {
	.header-style-2 .cart-search-contact .header-search-form,
	.header-style-3 .cart-search-contact .header-search-form {
		top: 55px;
	}
}

@media (max-width: 767px) {
	.header-style-2 .cart-search-contact .header-search-form,
	.header-style-3 .cart-search-contact .header-search-form {
		top: 55px;
		right: 15px;
	}
}

.header-style-2 .cart-search-contact .header-search-form button i,
.header-style-3 .cart-search-contact .header-search-form button i {
	color: #233d62;
}

.header-style-2 .cart-search-contact .header-search-form-wrapper .fi:before,
.header-style-3 .cart-search-contact .header-search-form-wrapper .fi:before {
	font-size: 18px;
}

.header-style-2 .cart-search-contact form div,
.header-style-3 .cart-search-contact form div {
	position: relative;
}

.header-style-2 .cart-search-contact form div button,
.header-style-3 .cart-search-contact form div button {
	position: absolute;
	right: 15px;
	top: 56%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header-style-2 .cart-search-contact input,
.header-style-3 .cart-search-contact input {
	width: 100%;
	height: 50px;
	padding: 6px 20px;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media (max-width: 450px) {
	.header-style-2 .cart-search-contact .mini-cart,
	.header-style-3 .cart-search-contact .mini-cart {
		display: none;
	}
}

.header-style-2 .cart-search-contact .mini-cart .fi:before,
.header-style-3 .cart-search-contact .mini-cart .fi:before {
	font-size: 20px;
}

.header-style-2 .cart-search-contact .mini-cart .cart-count,
.header-style-3 .cart-search-contact .mini-cart .cart-count {
	background: #00d690;
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 10px;
	font-size: 0.66667rem;
	color: white;
	position: absolute;
	top: 0;
	right: 0px;
	border-radius: 50%;
}

.header-style-2 .cart-search-contact .mini-cart-content,
.header-style-3 .cart-search-contact .mini-cart-content {
	background: #fff;
	width: 300px;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 63px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: -2px 18px 40px -9px #999999;
	box-shadow: -2px 18px 40px -9px #999999;
}

@media (max-width: 991px) {
	.header-style-2 .cart-search-contact .mini-cart-content,
	.header-style-3 .cart-search-contact .mini-cart-content {
		top: 55px;
	}
}

@media (max-width: 767px) {
	.header-style-2 .cart-search-contact .mini-cart-content,
	.header-style-3 .cart-search-contact .mini-cart-content {
		top: 55px;
	}
}

@media (max-width: 450px) {
	.header-style-2 .cart-search-contact .mini-cart-content,
	.header-style-3 .cart-search-contact .mini-cart-content {
		right: auto;
		left: -185px;
	}
}

.header-style-2 .cart-search-contact .mini-cart-content p,
.header-style-3 .cart-search-contact .mini-cart-content p {
	font-size: 15px;
	font-size: 1rem;
	font-weight: 500;
	color: #233d62;
	margin: 0;
	text-transform: uppercase;
}

.header-style-2 .cart-search-contact .mini-cart-content .mini-cart-items,
.header-style-3 .cart-search-contact .mini-cart-content .mini-cart-items {
	padding: 25px 20px;
}

.header-style-2 .cart-search-contact .mini-cart-content .mini-cart-item,
.header-style-3 .cart-search-contact .mini-cart-content .mini-cart-item {
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #efefef;
}

.header-style-2
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item:first-child,
.header-style-3
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item:first-child {
	padding-top: 0;
	margin-top: 0;
	border-top: 0;
}

.header-style-2 .cart-search-contact .mini-cart-content .mini-cart-item-image,
.header-style-3 .cart-search-contact .mini-cart-content .mini-cart-item-image {
	width: 50px;
	height: 50px;
	border: 2px solid #f3f3f3;
	float: left;
	margin-right: 15px;
}

.header-style-2 .cart-search-contact .mini-cart-content .mini-cart-item-image a,
.header-style-3 .cart-search-contact .mini-cart-content .mini-cart-item-image a,
.header-style-2
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-image
	img,
.header-style-3
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-image
	img {
	display: block;
	width: 46px;
	height: 46px;
}

.header-style-2 .cart-search-contact .mini-cart-content .mini-cart-item-des,
.header-style-3 .cart-search-contact .mini-cart-content .mini-cart-item-des {
	position: relative;
	overflow: hidden;
}

.header-style-2 .cart-search-contact .mini-cart-content .mini-cart-item-des a,
.header-style-3 .cart-search-contact .mini-cart-content .mini-cart-item-des a {
	font-size: 14px;
	font-size: 0.93333rem;
	font-weight: 600;
	text-align: left;
	color: #233d62;
}

.header-style-2
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-des
	a:hover,
.header-style-3
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-des
	a:hover {
	color: #00d690;
}

.header-style-2
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-des
	.mini-cart-item-price,
.header-style-3
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-des
	.mini-cart-item-price {
	font-size: 13px;
	font-size: 0.86667rem;
	color: #888;
	display: block;
	margin-top: 3px;
}

.header-style-2
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-des
	.mini-cart-item-quantity,
.header-style-3
	.cart-search-contact
	.mini-cart-content
	.mini-cart-item-des
	.mini-cart-item-quantity {
	font-size: 12px;
	font-size: 0.8rem;
	color: #444;
	display: block;
	position: absolute;
	right: 0;
	top: 2px;
}

.header-style-2 .cart-search-contact .mini-cart-content .mini-cart-action,
.header-style-3 .cart-search-contact .mini-cart-content .mini-cart-action {
	padding: 20px 0 30px;
	border-top: 1px solid #efefef;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-style-2
	.cart-search-contact
	.mini-cart-content
	.mini-cart-action
	.theme-btn-s2,
.header-style-3
	.cart-search-contact
	.mini-cart-content
	.mini-cart-action
	.theme-btn-s2 {
	float: right;
}

.header-style-2
	.cart-search-contact
	.mini-cart-content
	.mini-cart-action
	.mini-checkout-price,
.header-style-3
	.cart-search-contact
	.mini-cart-content
	.mini-cart-action
	.mini-checkout-price {
	font-size: 18px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #233d62;
	display: inline-block;
	padding-left: 30px;
}

.header-style-2 .mini-cart:hover .mini-cart-content,
.header-style-3 .mini-cart:hover .mini-cart-content,
.header-style-2 .header-search-form-wrapper:hover .header-search-form,
.header-style-3 .header-search-form-wrapper:hover .header-search-form {
	opacity: 1;
	visibility: visible;
	right: 0;
}

.header-style-2 .cart-search-contact .cart-toggle-btn,
.header-style-3 .cart-search-contact .cart-toggle-btn,
.header-style-2 .cart-search-contact .search-toggle-btn,
.header-style-3 .cart-search-contact .search-toggle-btn {
	padding: 0;
	border: 0;
	outline: 0;
	width: 50px;
	height: 50px;
	background: #ecfdf5;
	border-radius: 50%;
	line-height: 50px;
}

.header-style-2 .cart-search-contact .search-toggle-btn,
.header-style-3 .cart-search-contact .search-toggle-btn {
	margin-right: 15px;
}

@media (max-width: 1400px) {
	nav ul ul ul {
		left: -100%;
	}
}

@media (max-width: 1200px) {
	nav ul li a {
		display: inline-block;
		padding: 40px 20px;
	}
}

.get-contact a {
	font-size: 16px;
	color: #1c4c25;
	display: flex;
	align-items: center;
	margin-right: 30px;
	justify-content: flex-end;
}
.get-contact a i {
	font-size: 12px;
	color: #00d690;
	margin-right: 3px;
}

@media (max-width: 1199px) {
	.get-q {
		display: none;
	}
}

@media (max-width: 1700px) {
	.header-style-2,
	.header-style-3 {
		padding: 0 30px;
	}
}
@media (max-width: 1600px) {
	nav ul li a {
		padding: 45px 10px 40px;
	}
}
@media (max-width: 1500px) {
	.header-style-2,
	.header-style-3 {
		padding: 0 10px;
	}

	.get-contact a {
		font-size: 16px;
	}
	nav ul {
		text-align: center;
	}

	nav ul li a {
		padding: 45px 8px 40px;
	}
}
@media (max-width: 991px) {
	.header-style-2 .logo,
	.header-style-3 .logo {
		margin-top: 20px;
	}
	.header-style-2 .cart-search-contact,
	.header-style-3 .cart-search-contact {
		margin-top: 20px;
	}
}

.transparent-style {
	position: absolute;
	width: 100%;
	background: transparent;
	z-index: 999;
}

.view-cart-btn.theme-btn {
	background: #00d690;
	color: #fff;
}

/* Logo */
.header-style-2 .logo {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%)
		hue-rotate(45deg) brightness(97%) contrast(100%);
}

/* HOME ------------------------------------------------------------ */

.header-home .header-style-2 {
	position: absolute;
	z-index: 120;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.07);
	box-shadow: none;
}
.header-home .header-style-2 nav ul li a {
	color: #fff;
}
.header-home .header-style-2 nav ul li a:hover {
	color: #00d690;
}
.header-home .header-style-2 nav ul li a:before {
	display: none;
}

.header-home .header-style-2 .cart-search-contact button > i {
	color: #fff;
}

.header-home .header-style-2 nav ul li ul li a {
	color: #333;
}

.header-home .header-style-2 nav ul li ul li a:hover {
	color: #00d690;
}

.header-home .header-topbar {
	background: #1c4c25;
	padding: 0 100px;
}

@media (max-width: 991px) {
	.header-home .header-topbar {
		text-align: center;
		padding: 0;
	}
}

@media (max-width: 767px) {
	.header-home .header-style-1 {
		text-align: center;
	}
}

.header-home .header-style-2 .get-contact a {
	color: #fff;
}
.header-home .header-style-2 .cart-search-contact .cart-toggle-btn,
.header-home .header-style-2 .cart-search-contact .search-toggle-btn {
	background: rgba(236, 253, 245, 0.2);
}
